#!/usr/bin/env xdg-open
[Desktop Entry]
Version=4.1.1
Name=RSA-GiA
GenericName=Root System Architecture, General Image Analysis
Comment=Analyze root system architecture
Type=Application
Exec=bash -c "/opt/rsa-gia/bin/rsa-gia 2>&1 | tee -a /var/log/rsa-gia/\${USER}_\$(date +\"%%Y%%m%%d_%%H%%M%%S\").log"
Icon=/usr/share/pixmaps/rsa-gia.png
Terminal=false
Categories=Application;
